/* window */
body {
    border-radius: 0;
}

.win.normal #tabs-tabbar-container.top {
    padding-top: 5px;
}

/* Layout of buttons */
#browser.win .window-buttongroup button svg {
    display: block;
    z-index: 2;
    fill: black;
    opacity: 0.75;
	height: 9px !important;
	position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
	transition: top 150ms ease-in-out !important;
}

#browser.win .window-buttongroup button {
    margin: 0 4px 0 4px;
    position: relative; /* Add this line */
    top: -1px; /* Add this line */
}

#browser.win #titlebar {
    height: 100%;
}

#browser.win .window-buttongroup {
    height: 100%;
    margin: 0;
    padding: 7px 6px 0 6px;
}

.stacks-off.fullscreen#browser.win .window-buttongroup,
.tabs-at-edge#browser.win .window-buttongroup {
    margin: 0;
    padding-top: 3px;
}
#browser.win .window-buttongroup button,
#browser.win .window-buttongroup button.window-close {
	height: 12px !important;
    width: 12px !important;
	border-radius: 100%;
	opacity: 0.6;
    background-color: #A6A6A6;
}
:not(.fullscreen).hasfocus#browser.win .window-buttongroup button.window-minimize,
#browser.win .window-buttongroup:hover button.window-minimize{
	background-color: #fac536 !important;
	opacity: 1;
}
.hasfocus#browser.win .window-buttongroup button.window-maximize,
#browser.win .window-buttongroup:hover button.window-maximize{
	background: #39ea49 !important;
	opacity: 1;

}
.hasfocus#browser.win .window-buttongroup button.window-close,
#browser.win .window-buttongroup:hover button.window-close{
	background: #f25056 !important;
	opacity: 1;

}

/* Animation */
#browser.win .window-buttongroup button:hover svg {
    top: 50% !important;   
}

.disable-titlebar#browser.win .window-buttongroup {
	visibility: visible !important;
	display: flex !important;
	position: absolute !important;
	top: 2px !important;
	left: unset !important;
	right: 0 !important;
	padding-top: 10px !important;
	padding-bottom: 2px !important;
	padding-right: 8px !important;
	padding-left: 2px !important;
	height: auto;
}

/* Anti scaling */
#browser .window-buttongroup{
	scale: calc( 1.1 / var(--uiZoomLevel));	
}
