/*
https://github.com/ImMainTheme/VivaldiCSS
*/
:root {
  --TabbarEleH: 40;
}

.tab-position .tab {
    padding: 2px;
	}
.tab-position .tab .tab-header {
    padding: 5px;
	flex-basis: 40px !important;
	}
.tab-position .tab .favicon {
    min-width: 26px !important;
    min-height: 26px !important;
	}
.tab-position .tab .favicon > img, .tab-position .tab .favicon > svg {
	width: 24px !important; 
	height: 24px !important
	}
.tab-position .tab .title {
	margin-left:3px;
	}
.tab-position .tab .progress-indicator {
	right: 3px; 
	bottom: 1px; 
	left: 3px;
	}
#tabs-container.left .tab-position {
	Height: calc(var(--TabbarEleH) * 1px) !important;
	transform: translateX(var(--PositionX)) translateY(calc(((var(--PositionY) + 30px) / 30 - 1px) * var(--TabbarEleH)));
}

#tabs-container.left .ToolbarButton-Button,
#tabs-container.right .ToolbarButton-Button {
  height: calc(var(--TabbarEleH) * 1px);
}

#tabs-container .newtab {position: relative !important; top: calc(((var(--PositionY) + 30px) / 30 - 1px) * var(--TabbarEleH)) !important;}

/*Tabbar Icon from https://forum.vivaldi.net/topic/51862/css-to-make-tab-icons-larger*/